body {
  background: #222222;
}
.main-screen {
  width:inherit;
  height:inherit;  
  border: 3px solid #000;
}
.mic-button {
  margin: 4% auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background: #CCCCCC;
}
.mic-icon {
}